* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 10px;
}

.menu li {
  display: inline-block;
  padding: 10px;
}

.menu li a {
  color: white;
}

.contact {
  background-color: #3598db;
  padding: 5px 20px;
  border-radius: 7px;
}

.phone {
  width: 200px;
  height: 400px;
}

.cover-phones {
  margin: 40px 50px 0px 0px;
}
.bar-icon {
  color: white;
  font-weight: 900;
}
.cover-img {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  background-image: url(Images/1.jpg);
  background-size: cover;
}
.menu {
  display: flex;
}
.cover-writeup {
  width: 450px;
  margin: 40px 0px 0px 50px;
}

.template {
  color: white;
  font-size: 40px;
}

.cover-button {
  color: white;
  padding: 5px 20px;
  background-color: #27be55;
  width: 80px;
  margin: 10px;
  border-radius: 5px;
}

.cover-button1 {
  color: white;
  background-color: #3598db;
  padding: 5px 20px;
  width: 80px;
  margin: 10px;
  border-radius: 5px;
}

.cover-btn {
  display: flex;
}

.icon {
  width: 80px;
  height: 80px;
}

.icon1 {
  text-align: center;
  padding: 0px 10px;
}

.iicons {
  display: flex;
  justify-content: space-around;
  padding: 30px 5px;
  background-color: #ebf2f8;
}

.plane {
  width: 480px;
  height: 310px;
}

.plane-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  padding: 50px;
}

.startup {
  color: #2a81c4;
  font-size: 40px;
  padding: 20px;
}

.startup-text {
  font-size: 14px;
  width: 400px;
  padding-bottom: 20px;
}

.startup-txt {
  font-size: 14px;
  width: 500px;
  padding: 0px 0px 20px 20px;
  display: inline-block;
}

.learn-more {
  color: #2a81c4;
  border: 1px solid #2a81c4;
  padding: 5px 20px;
  border-radius: 5%;
}

.fone {
  display: flex;
}

.phone1 {
  width: 180px;
  height: 350px;
  padding: 5px;
}

.plane-wr {
  text-align: center;
}

.note {
  display: flex;
  justify-content: space-around;
  width: 500px;
  display: inline-flex;
}

.plane-img {
  display: flex;
  justify-content: space-around;
}

.sm-icon {
  width: 80px;
  height: 80px;
}

.features {
  font-family: sans-serif;
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 100px 0px;
}

.feature-text {
  font-size: 14px;
}

.main-sm-icon {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 50px;
}

.sm-icons {
  text-align: center;
  padding: 0px 10px;
}

.our-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.services-icons {
  width: 350px;
}

.icon-group {
  padding: 10px;
}

.icon-txt {
  width: 350px;
  display: inline;
}

.service-icon-text {
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 0;
}

.main-services {
  color: #2a81c4;
  font-family: sans-serif;
  font-size: 30px;
  padding: 15px;
}

.mainn {
  text-align: center;
  padding: 30px 0;
}

.view-button {
  background-color: #2a81c4;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.feet {
  font-family: sans-serif;
  padding-top: 60px;
}

.why-us {
  font-size: 25px;
  color: #2a81c4;
  padding: 30px 0px;
}

.main-feet {
  text-align: center;
}

.feet-img {
  width: 50%;
}

.feet-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.grow-up {
  color: #2a81c4;
  font-size: 37px;
}

.grow-up-txt {
  width: 500px;
}

.happiness {
  background-color: #2a81c4;
  color: white;
}

.firstdiv {
  height: 20px;
  width: 350px;
  background-color: lightgrey;
}

.our-missionn {
  font-size: 32px;
}

.seconddiv {
  background-color: #2a81c4;
  height: 100%;
  width: 80%;
  padding-left: 10px;
}

.seconddiv2 {
  background-color: #2a81c4;
  height: 100%;
  width: 85%;
  padding-left: 10px;
}

.seconddiv3 {
  background-color: #2a81c4;
  height: 100%;
  width: 90%;
  padding-left: 10px;
}

.seconddiv4 {
  background-color: #2a81c4;
  height: 100%;
  width: 95%;
  padding-left: 10px;
}

.pbar {
  color: #2a81c4;
  font-size: 20px;
  font-family: sans-serif;
}

.progres-bar {
  padding: 10px 0px;
}

.main-progressbar {
  display: flex;
  justify-content: space-around;
  padding: 60px 0px;
}

.become {
  padding: 20px 0px;
}

.become-text {
  width: 350px;
}

.latest {
  text-align: center;
}

.latest-work {
  background-color: #2a81c4;
  color: white;
  padding: 50px;
}

.download {
  color: white;
  padding: 8px 25px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: sans-serif;
}
.flat-land {
  font-size: 30px;
  padding-top: 20px;
  font-family: sans-serif;
}

.flat-land-text {
  width: 380px;
  padding: 15px 0px 25px 0px;
}

.flat-phone {
  width: 150px;
  height: 250px;
}

.main-flat {
  display: flex;
  justify-content: space-between;
}

.ft-img {
  width: 305px;
  height: 220px;
  padding: 20px;
}

.ft-img2 {
  width: 305px;
  height: 420px;
  padding: 20px;
}

.feature {
  text-align: center;
}

.ft-text {
  color: #2a81c4;
  font-size: 35px;
  padding: 40px 0px;
}

.ft-image {
  padding: 50px 0px;
}

.end {
  display: flex;
  justify-content: space-between;
  background-color: #34495e;
  color: white;
  align-items: center;
}

.landing-page {
  text-align: center;
}
.page-text {
  width: 380px;
}

.footer {
  background-color: #34495e;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.down-footer {
  background-color: #e7e2d8;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .end {
    flex-direction: column;
  }
  .feet-image {
    flex-direction: column;
    text-align: center;
  }
  .feet-img {
    padding-bottom: 40px;
  }
  .grow-up-txt {
    padding-top: 20px;
  }
  .main-progressbar {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .our-missionn {
    padding-top: 20px;
    font-size: 40px;
    font-style: oblique;
  }
}

@media screen and (max-width: 1020px) {
  .phone {
    width: 150px;
    height: 200px;
  }
  .cover-img {
    flex-direction: column;
    align-items: center;
    height: 700px;
  }
  .cover-writeup {
    text-align: center;
  }
  .cover-btn {
    justify-content: center;
  }
  .cover-phones {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 980px) {
  .iicons {
    flex-wrap: wrap;
  }
  .plane-image,
  .plane-img {
    flex-direction: column;
  }
  .planee {
    text-align: center;
  }
  .fone {
    justify-content: center;
  }
  .our-services {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 921px) {
  .main-flat {
    flex-direction: column;
    align-items: center;
  }
  .flat-phone {
    display: none;
  }
  .main-flat div {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .icon-group {
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .mainn {
    padding: 30px 0px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .main-sm-icon {
    flex-wrap: wrap;
    padding: 20px 0px;
  }
  .sm-icons {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 565px) {
  .cover-writeup {
    width: 250px;
    margin: 0px;
    padding-top: 20px;
  }
  .cover-img {
    height: 800px;
  }
  .cover-button {
    padding: 2px 10px;
  }
  .cover-button1 {
    padding: 2px 10px;
  }
}

@media screen and (max-width: 540px) {
  .plane {
    width: 250px;
    height: 150px;
  }
  .grow-up-txt {
    width: 100%;
    font-size: 13px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 530px) {
  .startup-txt {
    font-size: 12px;
    width: 90%;
  }
  .note {
    font-size: 12px;
    width: 90%;
  }
}

@media screen and (max-width: 445px) {
  .menu {
    flex-direction: column;
  }
  .startup {
    font-size: 25px;
  }
  .startup-text {
    font-size: 12px;
    width: 250px;
  }
}

@media screen and (max-width: 440px) {
  .menu {
    flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .phone1 {
    width: 100px;
    height: 180px;
  }
  .fone {
    justify-content: center;
    padding-bottom: 20px;
  }
  .plane-img {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 378px) {
  .phone {
    width: 80px;
    height: 130px;
  }
  .cover-img {
    height: 700px;
  }
  .features {
    padding: 30px;
  }
  .icon-txt {
    font-size: 14px;
  }
  .main-p {
    width: 200px;
  }
  .landing-page p {
    width: 360px;
  }
  .end img {
    width: 300px;
  }
  .flat-land-text{
    width: 320px;
  }
}
